<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="/styleBase">
</head>
<body>
<header class="header">
    <h1>Profil Utilisateur</h1>
</header>

<nav class="nav">
    <a href="/">Accueil</a>
    <a href="/products">Produits</a>
    <a href="/contact">Contact</a>
    <a href="/about">À propos</a>
</nav>

<div class="container">
    <div id="user-info">
        <h2>Informations de l'utilisateur</h2>
        <div class="profile-image-container">
            <img id="profileImage" class="profile-image hidden" alt="Image de profil">
            <div id="profileInitials" class="profile-initials hidden"></div>
        </div>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="profileImageInput">Télécharger une nouvelle image de profil:</label>
            <input type="file" id="profileImageInput" name="profileImage" accept="image/*">
            <button type="submit">Mettre à jour l'image</button>
        </form>
        <p><strong>Nom d'utilisateur:</strong> <span id="username"></span></p>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Prénom:</strong> <span id="firstName"></span></p>
        <p><strong>Nom:</strong> <span id="lastName"></span></p>
        <button id="logout-btn">Se déconnecter</button>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 Site E-Commerce Basique</p>
</footer>
<script src="/js/profile.js"></script>
</body>
</html>
