/* styles.css */

/* Ajoutez ou modifiez les styles existants ici */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.login-form, .register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form h2, .register-form h2 {
    text-align: center;
}

.login-form label, .register-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input, .register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button, .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover, .register-form button:hover {
    background-color: #0056b3;
}

.login-form p, .register-form p {
    text-align: center;
}
